<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <metahttp-equiv="X-UA-Compatible" content=""IE=edge>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Steve N. Njoya</title>
</head>
<body>
    <header>
        <div class="container__left">
            <div class="nav__logo">Steve N. Njoya</div>
            <div class="content">
                <h1 class="title">Be Creative, <br>Be Impressive</h1>
                <p class="subtitle">Cloud Engineer, Data Scientist and Back-end web Developper</p>
                <p class="description">
                    I build your cloud architectures and knative solutions, develop and deploy Machine Learning and 
                    Deep Learning algoriths, and develop API's for your webservers back-ends.
                </p>
                <div class="action__buttons">
                    <button class="btn portfolio">Portfolio</button>
                    <button class="btn cv">cv</button>
                </div>
            </div>
        </div>
        <div class="container__right">
            <ul class="nav__links">
                <li class="link">Home</li>
                <li class="link">About</li>
                <li class="link">Projects</li>
                <li class="link">Contact</li>
            </ul>
            <div class="image">
                <img src="/img/bg.jpg" alt="profile">
                <div class="image__content">
                    <h4>Steve N. Njoya</h4>
                    <p>President of The SN Group</p>
                </div>
            </div>
        </div>
    </header>

    <footer>

    </footer>
</body>
</html>